<mat-toolbar color="primary">
  <span><em>App de registros</em></span>
  <span class="espacio"></span>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
  <span class="espacio"></span>
  <button
    routerLink="/login"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="Cerrar Sesión"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
